# Notebook 3.1: Arithmetic operations

### Python as a calculator
One of the simplest uses of a scientific programming language is the ability to use it as a calculator. Python has a lot of tools for doing arithmetic operations builtin to the standard library, and many extensions available through third-party packages. Here we will focus on the standard tools in Python.

### Numeric types
Numeric types are typically stored as either an `integer` or a `float`. The first is a whole number while the latter has a floating point decimal. There is little difference between the two for most purposes, but it can be important to distinguish the type for some purposes. For example, only integers can be used for indexing (selecting the nth element from a list), and integer and float types can differ in the amount of memory that they take up.

First things first, we must learn how to assign a numeric type to a variable. As you can see below, the use of the `int()` or `float()` specifiers are superflous in this case, since Python can figure out whether you are saving an int versus float based on whether or not there is a decimal in the value.

In [1]:
# assign an integer variable
x = 3

In [2]:
# also assigns an integer variable
y = int(5)

In [3]:
# assign a float variable
z = 3.195

In [4]:
# also assigns a float variable
xx = float(9.999999999)

### Converting between types
The `int()` and `float()` functions can be useful for converting between types. Gotcha: In the latter case beware that the conversion of a float to int rounds down by default. This is for reasons of speed. You can use the `round()` function instead if you want to be more explicity.

In [5]:
# convert int 3 to a float 3.0
float(3)

3.0

In [6]:
# convert float 3.0 to an int 3
int(3.51)

3

In [7]:
round(3.51)

4

### Boolean type
A boolean type is a simple True or False statement. This type is used when comparing objects or values to return whether or not they are the same. Binary statements of this type are *very* common in programming so expect that you will see boolean types frequently. In Python `True` and `False` have special meaning to represent the boolean values. Not `true` or `TRUE`, but `True`, with only the first letter capitalized. When it comes to booleans the case is important, since only the `True` and `False` have special meaning. 

As a shortcut the integers 0 and 1 can be used in place of True and False to represent booleans. You can see this is the example below. Here use use the single `=` to assign values to variables. We then use the double `==` to ask whether to objects are the same. This operation is answered with a boolean object.

In [8]:
# True can be stored as True or as 1
x = True
y = 1
x == y

True

In [9]:
# False can be stored as False or as 0
x = False
y = 0
x == y

True

### Comparisons
There are several other comparison expressions available in addition to `==`. Not all of these make sense for every type of object. For example, the `==` operator applies to any object, since we can ask whether anything is the same as anything else. But the `>` operator on the other hand is asking whether one item is greater than another. This makes sense for numerics, but not for strings. Instead, there are other operators that are often used for comparing other types of objects. Examples include the `in` operator, shown below, to ask whether an item is contained inside another one (such as a list).

In [10]:
x = 10
y = 3
z = "orange"

In [11]:
x > y

True

In [12]:
x >= y

True

In [13]:
y < x

True

In [14]:
x == z

False

In [15]:
z != y

True

In [16]:
# this is expected to raise an error, since we cannot compare
# a string and an integer using the greater-than operator.
z > y

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
z in [x, y, z]

True

In [18]:
z not in [x, y]

True

### Exceptions
In the example above you saw your first example of a Exception. This one is called a TypeError, meaning that you used a type that was inappropriate for the given operation. Always read the message that accompanies an exception because it will tell you what is causing the error.

### Operations
A range of artithmetic operations are available and work as you would expect.

In [19]:
3 + 3

6

In [20]:
3 - 3

0

In [21]:
3 * 3

9

In [22]:
3 ** 3

27

In [23]:
3 / 2       ## standard division

1.5

In [24]:
27 // 5     ## floor division rounds down to nearest whole number

5

In [25]:
27 % 3      ## returns the remainder of division

0

In [26]:
27 % 5      ## returns the remainder of division

2

There are also function calls that can perform arithmetic operations on a large number of values at a time. We will learn more about these after you are introduced to object types for storing iterable data, such as lists and tuples.

In [27]:
sum([3, 2, 1])

6

### Order of operations
The order of operations can be controlled with parentheses.

In [28]:
2 * (3 + 3)

12

In [29]:
2 * 3 + 3

9

In [30]:
(3 / 2) ** 3

3.375

In [31]:
3 / 2 ** 3

0.375

In [32]:
10 + ((3 ** 3) / 9)

13.0

### Checking types
You can ask what the type of an object is by using either the `type()` function or the `isinstance()` function.

In [33]:
# type returns the type as a result
x = 3
type(x)

int

In [34]:
# isinstance returns a boolean as the result
isinstance(x, int)

True

<div class="alert alert-success">
    <b>Assessment</b>:
    None. Be sure to save the completed notebook before closing.
</div>